.App {
  text-align: center;

}

.mobilepicture{
  height: 500px;
  width:400px;
  object-fit: cover;
}
.mobilescontainer{
background-color: white;
border-radius:10px;
overflow: hidden;
box-shadow: rgb(red, green, blue);
transition :0.2s;
}
.mobilescontainer:hover{
  transform: scale(1.1);

}
.mobilename{
  font-size:24px;
}
.mobile-list-container{
  display: flex;
  flex-wrap: wrap;
  gap:40px;
  justify-content:space-around
}
body{
  background-color: whitesmoke;
  font-family:Courgette;
}